# Ignore Python virtual environments
.venv/
env/

# Ignore compiled Python files
__pycache__/
*.pyc
.pytest_cache/

# Ignore generated analysis outputs
data/processed/
out/plots/
*.csv
*.png
old/

# Ignore IDE-specific files
.vscode/
.idea/

# Ignore api_token.py - holds the API key
api_token.py
