# Ignore Python virtual environments
.venv/
env/

# Ignore compiled Python files
__pycache__/
*.pyc

# Ignore data files
*.csv
*.xlsx
*.png

# Ignore certain dirs
old/
out/

# Ignore IDE-specific files
.vscode/
.idea/

# Ignore api_token.py - holds the API key
api_token.py