# Ignore Python virtual environments
.venv/
env/

# Ignore compiled Python files
__pycache__/
*.pyc

# Ignore data files
*.csv
*.xlsx
*.png

# Ignore IDE-specific files
.vscode/
.idea/

# Ignore api_token.py - is meant to hold API key
api_token.py